/* Urshana's style 2019 */

body {
  min-height: 100vh;
  background-color: #eee;
  background-image: url(../images/my-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

 
  
