* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('SimplonBPMono-Regular.otf'); }

html {
  font-family: 'MyWebFont', SimplonBPMono-Regular, sans-serif;
  font-size: 10pt;
  color: #444;
}

body {
  max-width: 940px;
  margin: 0 auto;
  background-color: white;
  
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

main {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 100px;
  
  
}

.top-nav {
  max-width: 500px;
  margin: 20px;
  margin-right: 0px;
  padding-left: 0;
  float: right;
  text-decoration: none;
  
}

.top-nav li {
  margin: 0;
  padding: 0px;
  display: inline-block;
}

.top-nav a {
  display: block;
  padding: 20px;
  color: dimgray;
  text-decoration: none;
}

nav a:hover, nav a.active {
  color: #8c8cf4;
  background-color: transparent;
}


.logo {
  margin: 20px;
  width: 200px;
  height: 50px;
  
  background-image: url(assets/logo-1@2x.png);
  background-repeat: no-repeat;
  background-size: 100px;
  
  
}

li {
  margin: 20px;
  list-style: none;
}

nav a {
  color: dimgray;
  text-decoration: none;
}

nav a:hover, nav a.active {
  color: #8c8cf4;
  background-color: transparent;
}



footer {
  margin-top: 80px;
}

.social-nav {
  margin: 20px;
  
  display: flex;
  justify-content: center;
  padding: 20px;
  color: skyblue;
}

/* ***************** PROJECTS PAGE STYLING STARTS HERE ***********************/

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 940px;
}

.project-card {
  display: block;
  position: relative;
  
  box-shadow: 0px 0px 15px 3px rgba(128,128,128, 0.1);
  
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.project-card:hover .project-card-title {
 opacity: 1;
}

.project-card-title {
  opacity: 0;
  transition: opacity 300ms ease-out;
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(255,255,255,.7);
  
}

.project-card-title p {
  font-size: 3em; 
  text-align: center;
  text-transform: uppercase;
    
  padding: 0 1em;
  
  color: #8c8cf4;
  line-height: 1.2em;
}

.project-card-img {
  width: 100%;
  height: auto;
}

@media (max-width: 660px) {
  body {
    max-width: 660px;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    
  }
  
  .project-card-title {
    display: inline;
    opacity: 1;
    background-color: transparent;
  }
  
  .project-card-title p {
  font-size: 1em; 
  text-align: left;
  }
  
  footer {
  margin-top: 0px;
}
}



h3 {
  padding: 20px;
  color: #8c8cf4; 
  text-transform: uppercase;
  text-align: center;
  
}

.programs {
  padding-left: 0;
  text-align: left;
}

.programs-box h3 {
 padding-left: 0;
}

.programs li {
  margin: 0;
  margin-right: 40px;
  display: inline-block;
  
}

.programs-box h3 {
  font-size: 14px;
  color: dimgray;
  text-align: left;
  
}

.next-button {
  margin-top: 20px;
  display: flex;
  float: right;
  justify-content: center;
}

.button {
  width: 30px;
  padding: 20px;
  background-image: url(assets/arrow.svg);
  background-repeat: no-repeat;

  font-size: 8pt;
  color: #8c8cf4;
}

.keywords {
  padding-left: 0;
  text-align: left;
}

.keywords li{
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  display: inline-block;
  background-color: rgba(169,169,245,.2);
  border-radius: 20px;
  
}

.next-button a {
  color: #444;
  text-decoration: none;
  padding-left: 20px;
}
  




/* CONTACT PAGE STYLING STARTS HERE*/

 .contact-box h2 {
  margin-top: 80px;
  padding: 20px;
  color: #8c8cf4;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.8em;
  }

 .contacts {
  margin: 0 auto;
  margin-top: 50px;
  
}

 .contacts {
  border: 30px solid rgba(169, 169, 245, .5);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  transition: border .5s ease-in;
}

 .contacts:hover {
  border: 100px solid rgba(169,169,245,1);
}

 .contacts h3 {
  margin: 0;
  padding: 10px;
}

.contacts a {
  text-decoration: none;
  color: #444;
}

@media (max-width: 660px) {
  
   main.contact-box {
    margin-top: 0px;
    display: block;
    
  }
  .contact-box h2 {
   margin-top: 0px;
}
}

@media (max-width: 500px) {
  main.contact-box {
    margin-top: 0px;
    display: block;
    
  }
  
  .contacts {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  
  .contacts:hover {
    border: 80px solid rgba(169,169,245,.5);
}
  

}


/* ATM APP PROJECT STRATS HERE*/

.projects-main {
  max-width: 900px;
}

.project-row p {
  padding-left: 0px;
  text-align: left;
  line-height: 18pt;
}

.button {
  margin-left: 20px;
}


.project-column {
  display: block;
}

.project-column img {
  margin-bottom: 0;
  width: 100%;
  box-shadow: 0px 0px 3px 3px rgba(128,128,128,.0);
}
  
@media (max-width: 800px) {
  .projects-main {
    max-width: 800px;
    margin: 20px 20px auto;
    
  }
  
  .top-nav li a {
    padding: 10px;
  }
  
 
  .project-column {
     margin: 20px 20px auto;
  }
  
}

@media (max-width: 660px) {
  
  body {
    margin: 0;
  }
  
  .projects-main {
    max-width: 600px;
    margin: 10px;
    
  }
  
  .logo {
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
  
  header {
    margin: 20px;
    display: block;
    
  }
  .project-column img {
    margin: 0px;
    max-width: 100%;
    
  }
  
 .top-nav {
    display: flex;
    flex-direction: column;
    
    margin: 20px auto;
    width: 100%;
    padding-left: 0px;
    text-align: center;
    
}
 .top-nav li {
    margin: 2px;
   
    box-shadow: 0px 0px 2px 0px grey;
}
  
  
  
 
}

@media (max-width: 460px) {
  
   .top-nav {
    display: flex;
    flex-direction: column;
    
    margin: 20px auto;
    width: 100%;
    padding-left: 0px;
    text-align: center;
    
}
 .top-nav li {
    margin: 2px;
    box-shadow: 0px 0px 2px 0px grey;
}
 
  

  
}



