* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('SimplonBPMono-Regular.otf'); }

html {
  font-family: 'MyWebFont', SimplonBPMono-Regular, sans-serif;
  font-size: 10pt;
  color: #444;
}

body {
  max-width: 940px;
  margin: 0 auto;
  background-color: white;
  
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

main {
  max-width: 940px;
  padding-top: 50px;
  margin: 0 auto;
  
}

.top-nav {
  max-width: 500px;
  margin: 20px;
  margin-right: 0px;
  padding-left: 0;
  float: right;
  text-decoration: none;
  
}

.top-nav li {
  margin: 0;
  padding: 20px;
  display: inline-block;
}

.logo {
  margin: 20px;
  width: 200px;
  height: 50px;
  
  background-image: url(assets/logo-1@2x.png);
  background-repeat: no-repeat;
  background-size: 100px;
  
  
}

.slogan {
  margin: 20px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #A9A9F5;
}

li {
  margin: 20px;
  list-style: none;
}

nav a {
  color: dimgray;
  text-decoration: none;
}

nav a:hover, nav a.active {
  color: #8c8cf4;
  background-color: transparent;
}



footer {
  margin-top: 40px;
  
  
}

.social-nav {
  margin: 20px;
  
  display: flex;
  justify-content: center;
  padding: 20px;
  color: skyblue;
  padding-left: 0;
}

/* PROJECTS PAGE STYLING STARTS HERE*/

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row;
  flex-flow: wrap;
}

.row .column {
  flex: auto;
  width: 200px;
  
}

.row .column img {
  margin: 20px;
  width: 100%;
  box-shadow: 0px 5px 5px 5px rgba(128,128,128, 0.3);
}

h3 {
  padding: 20px;
  color: #8c8cf4; 
  text-transform: uppercase;
  text-align: center;
  
}
.programs {
  padding-left: 0;
  text-align: left;
}

.programs li {
  display: inline-block;
  
}

.programs-box h3 {
  font-size: 14px;
  color: dimgray;
  text-align: left;
  
}

.next-button {
  margin-top: 20px;
  display: flex;
  float: right;
  justify-content: center;
}

.button {
  width: 30px;
  padding: 20px;
  background-image: url(assets/arrow.svg);
  background-repeat: no-repeat;

  font-size: 8pt;
  color: #8c8cf4;
  
  
}

.keywords {
  padding-left: 0;
  text-align: left;
}

.keywords li{
  display: inline-block;
  
}




@media (max-width: 500px) {
  .row .column {
    margin: 0;
  }
  
  .row {
    padding: 0px;
  }
  
  .row .column img {
    width: 100%;

}
}
/*.row {
  max-width: 1000px;
  
}

.column {
  display: flex;
}

.column img {
  margin: 10px;
  flex: 100%;
  box-shadow: 0px 5px 5px 1px grey;
}



@media (max-width: 800px) {
  body {
    max-width: 800px;
    margin: 20px 20px auto;
  }

  
  .top-nav li {
    padding: 10px;
  }

  
}

@media (max-width: 660px) {
  
  body {
    max-width: 600px;
    margin: 10px;
    
  }
  
  .logo {
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
  
  header {
    margin: 20px;
    display: block;
    
  }
  
  .column {
    display: block;
    margin: 10px;
    padding: 5px;
  }
  
  .column img{
    margin: 20px;
    width: 100%;
    
  }
  
   .top-nav {
    margin: 20px auto;
    width: 100%;
    padding-left: 0px;
    text-align: center;
    
}
  .top-nav li {
    display: block;
    margin: 4px;
    box-shadow: 0px 0px 2px 0px grey;
}
  
 
  
 
}
*/


/* CONTACT PAGE STYLING STARTS HERE*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #A9A9F5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4pc;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.forum {
  margin: 0 auto;
  width: 600px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.forum-title {
  margin: 0 auto;
  width: 600px;
  color: #A9A9F5;
  font-size: 14px;
  text-transform: uppercase;
}

.forum-container {
  margin-top: 100px;
}

.contact-box {
  padding-top: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.contacts {
  margin-top: 155px;
  background-color: #A9A9F5;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts h3, .contacts p, .contacts a {
  color: white;
  margin: 0;
}


/* ATM APP PROJECT STRATS HERE*/

.atm-main {
  max-width: 900px;
}

.project-row p {
  padding-left: 0px;
  text-align: left;
  line-height: 18pt;
}

.next-button p {
  
  padding-right: 40px;
  padding-left: 40px;
  
}


.project-column {
  display: block;
}

.project-column img {
  margin-bottom: 40px;
  width: 100%;
  box-shadow: 0px 5px 5px 5px rgba(128,128,128, 0.1);
}



@media (max-width: 800px) {
  body {
    max-width: 800px;
    margin: 40px 40px auto;
    
  }
  
  .top-nav li {
    padding: 10px;
  }
  
 
  .project-column {
     margin: 20px 20px auto;
  }
  
}

@media (max-width: 600px) {
  
  body {
    max-width: 600px;
    margin: 10px;
    
  }
  
  .logo {
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
  
  header {
    margin: 20px;
    display: block;
    
  }
  .project-column img {
    margin: 0px;
    max-width: 100%;
    
  }
  
   .top-nav {
    margin: 20px auto;
    width: 100%;
    padding-left: 0px;
    text-align: center;
    
}
  .top-nav li {
    display: block;
    margin: 4px;
    box-shadow: 0px 0px 2px 0px grey;
}
  
  
  
 
}

@media (max-width: 460px) {
  
  .row .column img {
    margin: 0;
  }
  
  .project-column img {
    margin: 0;
  }
  

  
}



